.divGeral {
    border: 1px solid #029BFD;
    padding: 15px;
}

/*.divCrudTableHeader {
    display: flex;
}*/

.divCrudTableHeader div {
    padding: 0px;
}

.divCrudTableHeader div button {
    margin-right: 15px;
    border: none;
    margin-bottom: 15px;
}

.divCrudTableHeader div input {
    margin-bottom: 15px;
    text-align: center ;
}

.table {
    text-align: center;
}

.divTable {
    border: 1px solid gray;
}

@media screen and (max-width: 600px) {
	.divTable {
		width: 73vw;		
	}
}

.selectedRow {
    background-color: #67c0f7;
    border-color: #67c0f7;
}

.selectedRow:hover {
    background-color: #67c0f7 !important;
}


.noSelectedRow {
    background-color: none;
}

.tableDivAlert {
    color: red;
    text-align: center;
    width: 100%;
    margin: 10px 0px;
}