.divGeral {
    border: 1px solid blue;
    padding: 15px;
}

.divCrudTableHeader {
    display: flex;
}

.divCrudTableHeader div {
    padding: 0px;
}

.divCrudTableHeader div button {
    margin-right: 15px;
    border: none;
    margin-bottom: 15px;
}

.divCrudTableHeader div input {
    margin-bottom: 15px;
    text-align: center ;
}

.table {
    text-align: center;
}

.divTable {
    border: 1px solid gray;
}



